
<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr>
    <div *ngIf="view" class="card text-white bg-dark mb-3" style="width: 100%;">
      <div class="card-header">PH.</div>
      <div class="card-body">
        <h5 class="card-title">{{phr.aut}}</h5>
        <p class="card-text">"{{phr.mss}}"</p>
      </div>
    </div>

    <button (click)=" view = !view " class="btn btn-outline-light btn-block ">
      Show/Hide
    </button>
  </div>

  <div class="col">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <li *ngFor="let per of pers; let i = index" class="list-group-item text-dark bg-light"> {{ i + 1 }} - {{ per }}</li>
    </ul>
  </div>
</div>
